<h1><%= @ride.name %></h1>

<p>
Distance (Miles): <%=@ride.distance_miles%><br>
Climbing Feet:<%= @ride.climbing_feet%><br>
Terrain: <%=@ride.terrain%><br>
Date: <%=@ride.ride_date%><br>
Ride Time (Hours): <%=@ride.duration_hours%><br>
</p>